* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
}

body {
    text-align: center;
    font-size: 16px;
    background-color: #353b48;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
    list-style-type: none;
}

body * div {
    margin: 0 auto;
}

body > header {
    font-size: 2.5rem;
    height: 3.5rem;
    margin-bottom: 3rem;
    background-color: #2f3640;
}


header > a {
    position: absolute;
    display: block;
    width: 3rem;
    height: 3rem;
    right: 2rem;
    top: 0.25rem;
}

header nav {
    position: absolute;
    width: 3rem;
    height: 3rem;
    right: 2rem;
    top: 3.25rem;
}

header ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-flow: column nowrap;
}


/* header a:hover{

} */



/* body > header ul  {
    display: flex;
    justify-content: flex-end;
    font-size: 0;
}

body > header a {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    background: url(pictures/nasa.png) no-repeat;
    background-size: contain;
}

body > header li:nth-child(2) a {
    background-image: url(pictures/calendar.png);
}


body > header li:nth-child(3) a {
    background-image: url(pictures/weather.png);
} */


#analog_clock {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #929dac;
}

#clock {
    width: 21.875rem;
    height: 21.875rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(images/clock.png);
    background-size: cover;
    border: 2px solid #2f3640;
    border-radius: 50%;
    box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
                inset 0 -15px 15px rgba(255, 255, 255, 0.05),
                0 15px 15px rgba(0, 0, 0, 0.3),
                inset 0 15px 15px rgba(0, 0, 0, 0.3);
}

#clock::before {
    content: '';
    position: absolute;
    width: 1rem;
    height: 1rem;
    background: #fff;
    border-radius: 50%;
    z-index: 10000;
}

#clock .hour,
#clock .min,
#clock .sec {
    position: absolute;
}

#clock .hour, .hr {
    width: 10rem;
    height: 10rem;
}

#clock .min, .mn {
    width: 11.875rem;
    height: 11.875rem;
}

#clock .sec, .sc {
    width: 14.375rem;
    height: 14.375rem;
}

.hr, .mn, .sc {
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
}

.hr::before {
    content: '';
    position: absolute;
    width: 0.5rem;
    height: 5rem;
    background: #ff105e;
    z-index: 10;
    border-radius: 0.375rem 0.375rem 0 0;
}

.mn::before {
    content: '';
    position: absolute;
    width: 0.25rem;
    height: 5.625rem;
    background: #fff;
    z-index: 11;
    border-radius: 0.375rem 0.375rem 0 0;
}

.sc::before {
    content: '';
    position: absolute;
    width: 0.125rem;
    height: 9.375rem;
    background: #fff;
    z-index: 11;
    border-radius: 0.375rem 0.375rem 0 0;
}